@keyframes example {
   0%   {color: red; transform: rotate(0deg);}
   25%  {color: yellow;}
   50%  {color: blue;}
   100% {color: green; transform: rotate(360deg);}
}

.jd {
   position: absolute;
   height: fit-content;
   width: fit-content;
   top: 0; bottom: 0; right: 0; left: 0;
   margin:  auto;
   animation-name: example;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transition: none;
   font-size: 90px;
}